include LICENSE
include README.md
include pyproject.toml
recursive-include raphael_ibm_bob *
prune tests
prune experiments
prune build
prune dist
prune raphael_ibm_bob.egg-info
global-exclude *.egg-info/*
global-exclude __pycache__
global-exclude *.py[cod]
